<div class="md-content" layout="row" flex>
    <md-input-container class="md-block" flex>
            <label>Article Url</label>
            <input ng-model="articleSubmitObj.url">
    </md-input-container>
    <md-button ng-disabled="articleSubmitObj.url == ''" class="md-raised md-primary md-block" style="height:30px !important; margin:auto !important;" ng-click="submitArticle()">Submit</md-button>  
</div>




    
<!-- <p>Welcome to the submit page</p>
<html>
    <head>
    </head>
    <body layout="row"  layout-align="center"> -->
        <!-- <md-toolbar class="text-center">
            <h2 flex md-truncate>CenterSpin</h2>
        </md-toolbar>
        <md-content layout-gt-sm class="md-content md-padding">
            <md-navbar  nav-bar-aria-label="navigation links">
                <md-nav-item name="feed">
                    Feed
                </md-nav-item>
                <md-nav-item name="profile">
                    Profile
                </md-nav-item>
                <md-nav-item name="explore">
                    Explore
                </md-nav-item>
            </md-navbar>
        </md-content> -->

        
        
        <!-- <input id="url" type="text" placeholder="Article URL">
        <button id="scrape">Submit URL</button>
        
        <div id="results"></div>
        
        <button id="submit">Submit Article</button> -->
        
        <script>
            
            
            var articleData;
            
            $("#scrape").click(function(){
                var urlString = $("#url").val();
            
                console.log(location.href);

                var articleRequest = {
                    url : urlString
                };

                $.post("centerspin/scraper", JSON.stringify(articleRequest), function(response) {
                    $("#results").text(JSON.stringify(response));
                    
                    articleData = response.article;
                    
                    if (response.sourceState === "approved") {
                        $("#submit").show();
                    }
                });
            });
            
            
            $("#submit").click(function() {
                
                console.log("Clicked submit button");
                
                articleData.type = "news";
                articleData.topic = "congress";
                
                console.log(JSON.stringify(articleData));
                
                $.post("centerspin/submit/article", JSON.stringify(articleData), function(response) {
                    $("#results").text(response.message);
                });
                
            });
            
        </script>
    <!-- </body>
</html> -->
